.content{
  height: 88vh;
  width: 84.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 14.2%;
  top:8%;
  background-color: white;
 
}

.table{
  border: 1px solid linen;
  width: 85vw;
  margin-top: 3%;
}

.table thead{
  background-color:#190033;
  color: linen;
}

.form-control{
  color: #190033;
}

.page-link{
  color: #190033;
}