.content{
    height: 88vh;
    width: 84.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 14.2%;
    top:8%;
    background-color: white;
   
  }

  .add{
    
   margin-left: 91%;
    width: 30%;
    height: 5%; 

}



#box {
    width: 28%;
    height: 20%;
    text-align: center;
    border: 3px solid linen;
    border-radius: 6px;
    color: #0000cc;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 33%;
    left: 0;
    margin: auto;
    background-color: linen;
    z-index: 1000;
  }
  #box:target {display: block;}

  #box2 {
    width: 23%;
    height:17%;
    text-align: center;
    border: 3px solid linen;
    border-radius: 6px;
    color: #0000cc;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 26%;
    left: 11%;
    margin: auto;
    background-color: linen;
    z-index: 1000;
  }
  #box2:target {display: block;}

  #box3 {
    width: 28%;
    height: 23%;
    text-align: center;
    border: 3px solid linen;
    border-radius: 6px;
    color: #0000cc;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 30%;
    left: 0;
    margin: auto;
    background-color: linen;
    z-index: 1000;
  }
  #box3:target {display: block;}

  
  #box4 {
    width: 28%;
    height: 75%;
    text-align: center;
    border: 3px solid linen;
    border-radius: 6px;
    color: #0000cc;
    display: none;
    position: absolute;
    top: 95%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: linen;
    z-index: 1000;
  }
  #box4:target {display: block;}

  .close {
    display: inline-block;
    
    color: #0000cc;
    
    margin: 10px;
    text-decoration: none;
    
    font-size: 14pt;
    cursor:pointer;
  }
  .close2 {
    display: inline-block;
    
    color: #0000cc;
    
    margin: 10px;
    text-decoration: none;
    
    font-size: 14pt;
    cursor:pointer;
  }

  .view{
    width: 100%;
    height: 30%;
    top:5%;
    position:absolute;
}

.adds{
    width:100%;
    background-color: #190003;
    color: linen;
    font-weight: 600;
    font-size: 25px;
    border-radius: 6px;
}

.adds2{
    width:100%;
    background-color: #190003;
    color: linen;
    font-weight: 600;
    font-size: 25px;
    border-radius: 6px;
   
}

.adds3{
    width:100%;
    background-color: #190003;
    color: linen;
    font-weight: 600;
    font-size: 25px;
    border-radius: 6px;
   
}

.editg{

    width:100%;
    background-color: #190003;
    color: linen;
    font-weight: 600;
    font-size: 25px;
    border-radius: 6px;

}

.gname{
    margin-top:5%;
    margin-left:10%;
    font-weight: 600;
    height: 100%;

}

.gname label{
    padding-right: 5%;
    color: black;
    font-weight: 600;
}

.gname input{
    margin-right:15%
}


.for1{
    margin-top:2%;
    margin-left:1%;
    font-weight: 600;
    height: 100%;
}

.for1 label{
    padding-right: 5%;
    color: black;
    font-weight: 600;
    
}

.for1 input{
    margin-right:15%;
}


.for4{
    margin-top:2%;
    margin-left:1%;
    font-weight: 600;
    height: 20%;
    
}

.for4 label{
    padding-right: 5%;
    color: black;
    font-weight: 600;
    
}

.for4 input{
    margin-right:15%;
}

.for3{
    margin-top:3%;
    padding-right:2%;
    font-weight: 600;  
    margin-right:10%;

}

.for3 select{
    width: 47%;
    padding-left:12%;

}

.for3  label {
    margin-right:1%;
}


.for2{
    margin-top:5%;
    margin-left:1%;
    font-weight: 600;
    height: 100%;
}

.for2 label{
    padding-right: 5%;
    color: black;
    font-weight: 600;
    
}

.for2 input{
    margin-right:15%
}

.close img{
    width: 20%;
    margin-left: 100%;
    margin-bottom:20%;
}

b{
    margin-left: 22%;
}

.save2{
    width: 20%;
    border-radius: 6px;
    background-color:#190033;
    color: linen;
    font-weight: 600;
    margin-left:3%;
    text-align: center;
}
.update{
    width: 20%;
    border-radius: 6px;
    background-color:#190033;
    color: linen;
    font-weight: 600;
    margin-left:2%;
    text-align: center;
    margin-top:5%;
}

.update2{
    width: 20%;
    border-radius: 6px;
    background-color:#190033;
    color: linen;
    font-weight: 600;
    margin-left:2%;
    text-align: center;
    margin-top:-3%;

}



